02-html/.rar/
02-html/08-iframe/questao-1.png
02-html/08-iframe/questao-2.png
02-html/08-iframe/questao-3.png
02-html/09-svg/Novo Projeto.svg
02-html/09-svg/questao-2.png
02-html/09-svg/questao-3.png
02-html/10-canvas/print-canvas.png
02-html/respostas-de-exercicios/
03-css/.rar/
03-css/01-primeiros-passos-css/questao-3.png
03-css/02-seletores/questao-2.png
03-css/03-box-model/questao-2.png
03-css/03-box-model/questao-3.png
03-css/04-elementos-em-caixa/questao-1.png
03-css/04-elementos-em-caixa/questao-2.png
03-css/04-elementos-em-caixa/questao-3.png
03-css/05-estilizacao-de-fontes/brownie.jpg
03-css/05-estilizacao-de-fontes/questao-1.rar
03-css/05-estilizacao-de-fontes/questao-2.png
03-css/06-estilizacao-de-fontes-parte-2/Lobster-Regular.ttf
03-css/06-estilizacao-de-fontes-parte-2/questao-2.png
03-css/06-estilizacao-de-fontes-parte-2/questao-3.png
03-css/06-estilizacao-de-fontes-parte-2/questao-4.png
03-css/07-cores/questao-2.png
03-css/10-curriculo/assets/contato-samuelhvrodrigues.png
04-photopea/.rar/
04-photopea/02-colagem/00-davi-paquerando-venus-rua-do-bom-jesus-psd.psd
04-photopea/02-colagem/01-davi-paquerando-venus-rua-do-bom-jesus-jpg.jpg
04-photopea/02-colagem/02-adao-mona-lisa-davi-venus-rua-do-bom-jesus.png
04-photopea/02-colagem/03-adao-mona-lisa-davi-rua-do-bom-jesus.png     
04-photopea/02-colagem/04-adao-mona-lisa-rua-do-bom-jesus.png
04-photopea/02-colagem/05-rua-do-bom-jesus.jpg
04-photopea/02-colagem/06-a-criacao-de-adao-michelangelo-png.png       
04-photopea/02-colagem/06-a-criacao-de-adao-michelangelo.jpg
04-photopea/02-colagem/07-mona-lisa-leonardo-da-vinci-png.png
04-photopea/02-colagem/07-mona-lisa-leonardo-da-vinci.jpg
04-photopea/02-colagem/08-davi-michelangelo-png.png
04-photopea/02-colagem/08-davi-michelangelo.png
04-photopea/02-colagem/09-venus-sandro-botticelli-png.png
04-photopea/02-colagem/09-venus-sandro-botticelli.jpg
04-photopea/02-colagem/10-cupidos-png.png
04-photopea/02-colagem/10-cupidos.jpg
04-photopea/02-colagem/11-cupido-1-png.png
04-photopea/02-colagem/11-cupido-2-png.png
04-photopea/02-colagem/11-cupido-3-png.png
04-photopea/02-colagem/12-moca-com-brinco-de-perola-johannes-vermeer.jpg
04-photopea/03-mascara/00-tokyo-vestindo-tokyo.psd
04-photopea/03-mascara/02-tokyo-ursula-corbero-tokyo-city.png
04-photopea/03-mascara/03-tokyo-ursula-corbero.jpg
04-photopea/03-mascara/04-tokyo-city-retrato.png
04-photopea/03-mascara/05-tokyo-city-paisagem.jpg
04-photopea/04-luz-e-cor/praia-dos-carneiros-inverno.png
04-photopea/04-luz-e-cor/praia-dos-carneiros-outono.png
04-photopea/04-luz-e-cor/praia-dos-carneiros-primavera.png
04-photopea/04-luz-e-cor/praia-dos-carneiros-verao.png
04-photopea/04-luz-e-cor/praia-dos-carneiros.jpg
04-photopea/04-luz-e-cor/x-praia-dos-carneiros-outono.png
05-figma/01-introducao/
Figma/