@font-face {
    font-family: "Forum-Regular";
    src: url(Forum-Regular.ttf);
}
@font-face {
    font-family: "Open-Sans";
    src: url(Open-Sans.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum-Regular";
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}
body{
    background-color: #000;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 236px;
    padding: 50px 0 5px;
}
#logo {
    border: 1px solid #fff;
    border-left: 0px;
    border-right: 0px;
    display: flex;
}
h1 {
    font-size: 61px;
    font-weight: 100;
    border: 1px solid #fff;
    border-left: 0px;
    border-right: 0px;
    padding: 0 20px;
    margin: 5px 10px;
}
header span {
    font-family: "Open-Sans";
    font-size: 16px;
    margin-top: 2px;
}
nav {
    margin-top: 45px;
}
nav a{
    font-size: 17px;
    height: 44px;
    padding: 0 19px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner {
    margin-top: 35px;
}
#events {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 25px 0 50px;
}
h3{
    font-size: 25px;
    margin: 25px 0;
    font-weight: 100;
}
.img-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bf9515;
    width: 232px;
    height: 146px;
}
.img-area span {
    font-size: 25px;
    margin-bottom: 3px;
}
#img-area-title {
    font-size: 36px;
}
p {
    width: 205px;
    font-family: "Open-Sans";
    font-size: 13px;
    margin: 20px 0;
    line-height: 1.5;
}
.event-card a {
    color: #bf9515;
    font-family: "Open-Sans";
    font-size: 12px;
}
#reservations {
    border: 1px solid #fff;
    border-left: 0px;
    border-right: 0px;
    width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 35px;
}
h2 {
    font-size: 34px;
    margin: 65px 0 65px;
    font-weight: 100;
}
#reservation-settings {
    width: 750px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}
input {
    background-color: transparent;
    font-family: "Open-Sans";
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    width: 165px;
    height: 42px;
}
input::placeholder {
    color: #fff;
    padding: 5px;
}
button {
    font-family: "Open-Sans";
    font-size: 16px;
    background-color: #bf9515;
    border: 0px;
    border-radius: 2px;
    width: 180px;
    height: 42px;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0 60px;
    width: 980px;
}
h4 {
    font-family: "Open-Sans";
    font-size: 16px;
    color: #bf9515;
    font-weight: 100;
    margin: 10px 0 30px;
}
#footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 474px;
}
#footer-info-content {
    display: flex;
    justify-content: space-between;
}
.footer-info-column {
    width: 160px;
    margin-right: 77px;
    display: flex;
    flex-direction: column;
}
#address {
    margin-bottom: 20px;
}
footer span {
    font-family: "Open-Sans";
    font-size: 13px;
    display: block;
}
svg {
    fill: #fff;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin: 0 10px 10px 0;
}