@font-face {
    font-family: "Aldrich";
    src: url(Aldrich-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Aldrich";
    color: #495464;
}
header {
    height: 10vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}
header img {
    height: 12vh;
}
nav a{
    padding: .3vw;
}
main {
    margin: 0 auto;
    width: 70vw;
}
.container {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0 0;
    align-items: center;
    border-bottom: 2px solid #495464;
    border-radius: 10px;
}
#home img{
    width: 100%;
}
#menu img, #promotions img {
    width: 10vw;
}
.menu-itens {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-card {
    width: 100%;
}
.rate-us div {
    width: 100%;
}
input {
    width: 300px;
}
textarea {
    width: 300px;
}
ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}
button {
    border: 0;
    background-color: transparent;
}
#send {
    padding: 10px 30px;
    margin: 10px 0;
    border: 1px solid #f4f4f2;
    background-color: #495464;
    border-radius: 5px;
    color: #f4f4f2;
}
ul li img{
    width: 35px;
}
label {
    display: block;
}