* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/rick-and-morty-background.png);
    color: #000;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#content {
    background-color: rgba(0, 0, 0, 0.5);
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result > img {
    border: double #fff;
}