/* RODRIGO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
}
header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 2%;
}

.botoes button {
  border: none;
  font-family: inherit;
  font-size: 14px;
  width: 160px;
  height: 45px;
  transform: skewX(-30deg);
  background: linear-gradient(
    90deg,
    #d4b86a 3%,
    #fff4b0 29.21%,
    #ba8b2c 56.53%,
    #dcc290 89.68%
  );
}

.botoes button div {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skewX(30deg);
}

.foto-inicial {
  min-height: 100vh;
  position: relative;
  background: url(imagens/foto-museu.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 48px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.texto-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.foto-inicial p {
  font-size: 32px;
  line-height: normal;
}

.foto-inicial button {
  border: none;
  font-family: inherit;
  font-size: 30px;
  width: 452px;
  height: 98px;
  transform: skewX(-30deg);
  background: linear-gradient(
    90deg,
    #d4b86a 3%,
    #fff4b0 29.21%,
    #ba8b2c 56.53%,
    #dcc290 89.68%
  );
}

.foto-inicial button div {
  transform: skewX(30deg);
}

/* SAMUEL */
@font-face {
  font-family: "PressStart2P";
  src: url(PressStart2P-Regular.ttf);
}
@font-face {
  font-family: "RobotoMono";
  src: url(RobotoMono-VariableFont_wght.ttf);
}
#next-events {
  height: 89.5vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#next-events h2 {
  font-family: "PressStart2P";
  font-size: 1.6vw;
  margin: 1.6vw 0;
}
.event-card {
  width: 71vw;
  height: 10.6vw;
  display: flex;
  margin: .6vw 0;
}
.event-card img {
  height: 10.6vw;
  width: 50vw;
  object-fit: cover;
}
.event-info {
  height: 10.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 21.25vw;
  background-color: #161b22;
  color: #fff;
}
.event-info h3 {
  font-size: 1.1vw;
  font-family: "PressStart2P";
  margin: 1.1vw 0 .6vw;
}
.event-info span {
  font-family: "RobotoMono";
  font-size: 0.85vw;
}
.name-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#next-events button {
  height: 2.1vw;
  transform: skewX(-30deg);
  background: linear-gradient(90deg, #D4B86A 7.41%, #FFF4B0 52.94%, #BA8B2C 100.41%, #DCC290 157.99%);
  border: 0;
  font-size: .65vw;
  font-family: "PressStart2P";
}
#next-events button span {
  display: block;
  font-family: "PressStart2P";
  font-size: .65vw;
  transform: skewX(30deg);
}
.see-details {
  width: 11vw;
  margin: 0 0 1.1vw;
}
.see-other-events {
  width: 18vw;
  margin: .5vw 0 1.1vw;
}
/* ALEHFF */
.P2P{
  font-family: "Press Start 2P"
}
.roboto{
  font-family: "Roboto";
}
.margem1{
  margin-top: 80px;
  margin-left: -50px;
}
.alehff{
  height: 100vh;
  background-color: #161B22;
  display: flex;
  justify-content: center;

}
.infos{
  display: flex;
  flex-flow: column;
  text-align: center;
  color: #FFFFFF;
  margin-top: 22.83vh;
  margin-left: 10.98vw;
}
.infos h2{
  font-size: 1.5vw;
}
.infos p{
  font-size: 1.3vw;
}

.buttonn{
  border: none;
  font-family: "Press Start 2P";
  position: absolute;
  font-size: 1.5vw;
  width: 21.96vw;
  height: 10.65vh;
  margin-top: 38.05vh;
  margin-left: 3vw;
  
  transform: skewX(-30deg);
  background: linear-gradient(
    90deg,
    #d4b86a 3%,
    #fff4b0 29.21%,
    #ba8b2c 56.53%,
    #dcc290 89.68%
    );
  }
.buttonn span {
  display: block;
  transform: skewX(30deg);
}
.tamanho{
  width: 29.3vw;
  height: 76.1vh;
}
@media(max-width: 500px) {
  .tamanho{
      width: 32vw;
      height: 50vh;
      margin-left: 70px;
      margin-top: 7vh;
  }  
  .buttonn{
      border: none;
      font-family: "Press Start 2P";
      position: absolute;
      font-size: 3vw;
      width: 30vw;
      height: 10.65vh;
      margin-top: 30.0vh;
      margin-left: 10vw;
      
      transform: skewX(-30deg);
      background: linear-gradient(
          90deg,
          #d4b86a 3%,
          #fff4b0 29.21%,
          #ba8b2c 56.53%,
          #dcc290 89.68%
      );
  }
  .infos h2{
      font-size: 3vw;
  }
  .infos p{
      font-size: 2.7vw;
  }
}

/* BRUNO */
#contato{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#contato h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
    margin: 1.6vw 0;
}
#contato span, #contato strong{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 1.22vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#contato strong{
    font-size: 1.8vw;
    margin-top: 2vh;
}
.informacoes {
    display: flex;
    align-content: center;
    align-items: normal;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
}
.informacoes > *{
    width: 30vh;
    font-size: 1.3px;
    padding-left: 1vh;
}


/*formulário*/
#contato fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 80%;
}
#contato input, #contato textarea{
    font-family: 'Roboto Mono';
    font-size: 1.8vw;
    height: 3vw;
    width:48%;
    margin-bottom: 5vh;
    background-color: transparent;
    box-shadow: 0 2px 0 0;
    border: 0 none;
    outline: 0;
    border-bottom:5px black;
}
.maior{
    width: 100%;
}
.info{
    display: flex;
    flex-direction: column;
}
.info > *{
    margin-bottom: 2vh;
}
    
#contato .botao{
    height: 3vw;
    width: 20vw;
    transform: skewX(-30deg);
    background: linear-gradient(90deg, #D4B86A 7.41%, #FFF4B0 52.94%, #BA8B2C 100.41%, #DCC290 157.99%);
    border: 0;
    box-shadow: 0 0 0 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  #contato .botao span {
    font-family: "Press Start 2P";
    font-size: 1vw;
    transform: skewX(30deg);
}



/* Informações do Rodapé*/
footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #161B22;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    padding: 1vh;
}
footer img{
    padding: 0.8vh;
}
.itens-rodape{
    font-size: 1.17vw;
}
.direitos {
    font-size: 0.78vw;
    margin-top: 1vh;
}