/* RODRIGO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100vw;
}



.logo {
  display: flex;
  align-items: center;
  color: white;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 2%;
}

.botoes button {
  border: none;
  font-family: inherit;
  font-size: 14px;
  width: 160px;
  height: 45px;
  transform: skewX(-30deg);
  background: linear-gradient(
    90deg,
    #d4b86a 3%,
    #fff4b0 29.21%,
    #ba8b2c 56.53%,
    #dcc290 89.68%
  );
}

.botoes button p {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skewX(30deg);
}

.foto-inicial img {
  width: 100%;
  height: 100vh;
  position: relative;
}

.titulo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texto-titulo {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 48px;
  line-height: 1;
  width: 1200px;
  height: 1000px;
  left: 20%;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
}

.foto-inicial p {
  font-size: 32px;
  line-height: normal;
}

.titulo-principal button {
  border: none;
  font-family: inherit;
  position: absolute;
  font-size: 30px;
  width: 452px;
  height: 98px;
  left: 30%;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  transform: skewX(-30deg);
  background: linear-gradient(
    90deg,
    #d4b86a 3%,
    #fff4b0 29.21%,
    #ba8b2c 56.53%,
    #dcc290 89.68%
  );
}

.titulo-principal button p {
  transform: skewX(30deg);
}

/* SAMUEL */
@font-face {
  font-family: "PressStart2P";
  src: url(PressStart2P-Regular.ttf);
}
@font-face {
  font-family: "RobotoMono";
  src: url(RobotoMono-VariableFont_wght.ttf);
}
#next-events {
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#next-events h2 {
  font-family: "PressStart2P";
  font-size: 1.6vw;
  margin: 1.6vw 0;
}
.event-card {
  width: 71vw;
  height: 12vw;
  display: flex;
  margin: .6vw 0;
}
.event-card img {
  height: 12vw;
  width: 50vw;
  object-fit: cover;
}
.event-info {
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 21.25vw;
  background-color: #161b22;
  color: #fff;
}
.event-info h3 {
  font-size: 1.1vw;
  font-family: "PressStart2P";
  margin: 1.1vw 0 .6vw;
}
.event-info span {
  font-family: "RobotoMono";
  font-size: 0.85vw;
}
#next-events button {
  height: 2.1vw;
  transform: skewX(-30deg);
  background: linear-gradient(90deg, #D4B86A 7.41%, #FFF4B0 52.94%, #BA8B2C 100.41%, #DCC290 157.99%);
  border: 0;
  font-size: .65vw;
  font-family: "PressStart2P";
}
.see-details {
  margin: 4.8vw 0 1.1vw;
  width: 11vw;
  justify-self: flex-end;
}
.see-other-events {
  width: 18vw;
  margin: 1.6vw 0 0;
}
/* ALEHFF */
.P2P{
  font-family: "Press Start 2P"
}
.roboto{
  font-family: "Roboto";
}
.margem1{
  margin-top: 80px;
  margin-left: -50px;
}
.alehff{
  width: 100%;
  height: 665px;
  background-color: #161B22;
  display: flex;
  justify-content: center;

}
.infos{
  display: flex;
  flex-flow: column;
  text-align: center;
  color: #FFFFFF;
  margin-top: 150px;
  margin-left: 150px;
}

.buttonn{
  border: none;
  font-family: "Press Start 2P";
  position: absolute;
  font-size: 20px;
  width: 300px;
  height: 70px;
  margin-top: 250px;
  margin-left: 40px;
  
  transform: skewX(-30deg);
  background: linear-gradient(
      90deg,
      #d4b86a 3%,
      #fff4b0 29.21%,
      #ba8b2c 56.53%,
      #dcc290 89.68%
  );
}